@font-face{
    font-family:'digitalpixel';
    src: url('./fonts/digitalpixel.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'digitalpixel', sans-serif;
}

/* .headerclass{
    
} */
h1{
    font-size: 30px;
    margin-top: 80px;
    margin-left: 20px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f5f0d6;

}
h4{
    font-size: 12px;
    text-align: start;
}
.rar-link {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 5px 0;
}

.rar-link:hover {
    color: #1E90FF;
}

.navigation {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style:none;
    justify-content: flex-end;
    padding: 10px 20px;
}
.navigation li{
    cursor: pointer;
    transition: color 0.3s;
}
.navigation li:hover{
    color: blue;
}
.navigation li a {
    text-decoration: none; 
    color: inherit;     
    display: block;       
    padding: 5px 0;       
}

.navigation li a:hover {
    color: #1E90FF;        
}
.content {
    display: flex;
    align-items: flex-start; 
    /* gap: 10px;   */
    margin-right: 100px;
}             
p{
    font-size: 10px; 
    margin: 2px 0;
    margin-left: 40px;
    margin-top: 20px;
    
}
.content img {
    height: 300px;
    width: auto;
    margin-left: 200px;
    margin-bottom: 100px;
}
.btn {
    padding: 10px 20px;
    margin-right: 50px;
    font-size: 12px;
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn a {
  color: white;
  text-decoration: none; 
}

.btn a:visited {
  color: white; 
}

.btn:hover {
    background-color: #1E90FF;
}
footer {
    display: flex;
    align-items: center;   
    gap: 10px;             
    padding: 10px;
   
}
.matrices-container {
  display: flex;
  gap: 40px;
  margin-bottom: 15px;
}

.matrix-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.matrix-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.matrix-label {
  min-width: 40px;
  margin: 0;
}

.matrixA input, .matrixB input, .matrixResult input {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f5f0d6; 
  color: #1E90FF;
  font-weight: bold;
  outline: none;
}

.matrixResult input {
  pointer-events: none; 
}
.matrixA input::placeholder,
.matrixB input::placeholder,
.matrixResult input::placeholder {
  color: #aaa;
  font-family: 'digitalpixel', sans-serif;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

td {
  padding: 2px;
}

.operation-buttons {
  display: flex;
  width: fit-content;
  border-radius: 12px;
  overflow: hidden;
  margin: 10px 0;
}

.op-btn {
  padding: 8px 20px;
  border: none;
  background-color: #f5f0d6;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'digital pixel';
}

.op-btn:first-child {
  border-right: 1px solid #ccc;
}

.op-btn.active {
  background-color: #1E90FF;
  color: white;
  font-family: 'digital pixel';
}

.btn {
  padding: 10px 20px;
  font-size: 12px;
  font-family: 'digital pixel';
  background-color: #1E90FF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0b437a;
}



